<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.edu.gdmec.android.game2048test"
          android:versionCode="1"
          android:versionName="1.0.9" >

    <!--添加清单文件-->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 有米 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico2048"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


    <!-- 声明Mogo的Activity -->
    <activity
        android:name="com.adsmogo.adview.AdsMogoWebView"
        android:configChanges="orientation|keyboardHidden|screenSize|keyboard|keyboardHidden"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent" >
    </activity>
    <!-- 注册Service，应用下载所需 -->
    <service
        android:name="com.adsmogo.controller.service.UpdateService"
        android:exported="true"
        android:process=":remote" />
    <!-- 注册Service，应用被安装所用 -->
    <service
        android:name="com.adsmogo.controller.service.CountService"
        android:exported="true"
        android:process=":remote" />

    <!-- youmiSDK -->

    <activity
        android:name="net.youmi.android.AdBrowser"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
    </activity>

    <service
        android:name="net.youmi.android.AdService"
        android:exported="false" >
    </service>

    <receiver android:name="net.youmi.android.AdReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_ADDED" />

            <data android:scheme="package" />
        </intent-filter>
    </receiver>

    <!-- 声明果盟的Activity -->
    <activity
        android:name="cn.guomob.android.GuomobAdActivity"
        android:theme="@android:style/Theme.Translucent" />
    <!-- gdt -->

    <service
        android:name="com.qq.e.comm.DownloadService"
        android:exported="false" />

    <activity
        android:name="com.qq.e.ads.ADActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

    <!-- 声明多盟的Activity -->
    <activity
        android:name="cn.domob.android.ads.DmActivity"
        android:theme="@android:style/Theme.Translucent" />

    <!-- 声明AdChina的Activity -->
    <activity
        android:name="com.adchina.android.ads.views.AdBrowserView"
        android:configChanges="orientation|keyboard|keyboardHidden"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent" >
    </activity>
    <activity
        android:name=".Select"
        android:label="@string/app_name"
        android:launchMode="standard"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" >
    </activity>
    <activity
        android:name=".Rule"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" >
    </activity>
    <activity
        android:name=".About"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" >
    </activity>
    </application>

</manifest>